.App {
  text-align: center;
}

/* Shared container styles */
.container {
  text-align: center;
  /* Other shared container styles */
}

/* Styles for the light theme */
.light-theme {
  color: #000000;
  background-color: #ffffff; 
}

/* Styles for the dark theme */
body.dark-theme {
  color: #ffffff; 
  background-color: #000000; 
    
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 120px; 
}

.menu-card {
  border: 1px solid #000000; /* Black border */
  padding: 10px;
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
  margin-bottom: 10px; /* Adjust margin as needed */
  padding-bottom: 30px;
  border-radius: 30px; 
}

.menu-item-details button {
  /* Adjust the margin to move the button upwards */
  margin-top: -10px; /* Experiment with different values */
}

/* Add hover effect for better user interaction */
.menu-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Shadow on hover */
}


body {
  background-color: #ffffff; 
}

/* Define styles for the clickable text */
.ThemeSwitch {
  position: absolute;
  top: 20px;
  left: 10px; 
  cursor: pointer; 
  border: 1px solid transparent; 
}

.ThemeSwitch .switch-text {
  margin: 20px 0 0; 
  padding: 0; 
}

.add-to-order-button {
  margin-bottom: 120px; /* Increase this value to move the button further up */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
